@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --color-black: #222;
  --color-white: #ffffff;
  --color-primary: #d61c22;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  color: var(--color-black);
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-subtitle {
  font-family: var(--secondary-font);
  color: var(--color-primary);
  text-transform: capitalize;
  font-size: 4rem;
}
.title-maintitle {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 2px;
}
.about-text {
  text-align: center;
  letter-spacing: 1.8px;
  font-size: 1.4rem;
  color: #888;
  line-height: 1.7;
}
.about-cta {
  display: block;
  width: max-content;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
  margin: 0 auto;
}
.about-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header {
  /* flex container */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}
@media screen and (max-width: 37.5rem) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
.header-logo-text {
  text-transform: capitalize;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  text-transform: capitalize;
}

.header-nav-link {
  text-decoration: none;
  color: var(--color-black);
}
.hero {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-subtitle,
.text-main-title {
  color: var(--color-white);
}
.hero-text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.text-subtitle {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 6rem;
  color: var(--color-primary);
}
.text-main-title {
  text-transform: uppercase;
  font-size: 6rem;
  text-align: center;
}

.hero-cta {
  background-color: var(--color-primary);
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-white);
  padding: 1.5rem 2rem;
  border-radius: 10px;
}
@media screen and (max-width: 25em) {
  .text-subtitle {
    font-size: 4rem;
  }
}

.about {
  padding: 6rem 12rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 62.5em) {
  .about {
    padding: 6rem 0.8rem;
  }
}
@media screen and (max-width: 53.125em) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.about-img {
  width: 50rem;
  border-radius: 15px;
  transition: all 0.5 ease;
}
.about-img:hover {
  transform: scale(1.02);
}
@media screen and (max-width: 31.25em) {
  .about-img {
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s ease;
  }
}

.banner-2{
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(assets/banner-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-2-subtitle{
  font-family: var(--secondary-font);
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--color-primary);

}
.banner-2-maintitle{
  font-size: 5rem;
  color: var(--color-white);
  text-transform: uppercase;
}

@media screen and (max-width: 34.375em) {
.banner-2-maintitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
}
